body {
  background: #DCDCDC;
  margin: 0;
  overflow: hidden;
}
.player {
  position: absolute;
}
.splash,
.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #DCDCDC;
  display: table;
  color: #DCDCDC;
}
.error {
  display: none;
}
.splash > div,
.error > div {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.progress {
  width: 80%;
  height: 16px;
  border: 1px solid #DCDCDC;
  margin: 0 auto;
}
.progress-bar {
  background: #00BFFF;
  width: 10%;
  height: 100%;
}
h1 {
  font: 300 72px Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 0 16px;
  color: #000000;
}
p {
  font: 300 24px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  color: #000000;
}
.error a {
  color: #000000;
}
